<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #4256a8;">
        <a class="navbar-brand" href="../">
            <span id="firstLogoPart">QR</span><span id="secLogoPart">Generator</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="navbarToggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/andrii-shchur" title="Authors GitHub"><i class="bi-github"></i></a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/" title="Your account">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register/">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>