{% extends 'backend/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <form action="submit/" method="post" id="submitForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-10 offset-1">
                <div class="row">
                    <div class="col gy-3">
                        {{ form.text|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 gy-3">
                        {{ form.box_size|as_crispy_field }}
                    </div>
                    <div class="col-md-3 gy-3">
                        {{ form.border|as_crispy_field }}
                    </div>
                    <div class="col-md-3 gy-3">
                        {{ form.back_color|as_crispy_field }}
                    </div>
                    <div class="col-md-3 gy-3">
                        {{ form.fill_color|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col gy-3">
                        <button id="submitButton" type="submit" class="btn btn-primary mb-2" style="background-color: #4256a8; border: none;">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
