{% extends 'backend/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-10 offset-1 col-lg-6 offset-lg-3">
                <div class="row">
                    <div class="col gy-2">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col gy-2">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col gy-2">
                        {{ form.password1|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col gy-2">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col gy-2">
                        <button id="registerButton" type="submit" class="btn btn-primary mb-2" style="background-color: #4256a8; border: none;">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{ form.username.errors|striptags }}
    {{ form.email.errors|striptags }}
    {{ form.password1.errors|striptags }}
    {{ form.password2.errors|striptags }}
{% endblock %}