body {
    padding-top: 70px;
    background-color: #f3f0eb !important;
}

.navbar-brand, .nav-link {
    margin-left: 10px;
}

#navbarNav, #navbarToggler {
    margin-right: 10px;
}

#secLogoPart {
    color: #d78b02;
}